<div id="header">
    <div id="logo">
      <div id="logo_text">
        <!-- class="logo_colour", allows you to change the colour of the text -->
        <h1><a href="#">Angular - One Page Website</a></h1>
        <h2>Simple. Contemporary. Website .</h2>
      </div>
    </div>
    <div id="menubar">
      <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li><a href="#" routerLink="/home">Home</a></li>
        <li><a href="#" routerLink="/example">Examples</a></li>
        <li><a href="#" routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
 